body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:20px;
}

.container{
    max-width:800px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

h1{
    text-align:center;
    color:#333;
}

h2{
    color:#444;
}

input{
    width:100%;
    padding:10px;
    margin:8px 0;
    box-sizing:border-box;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    margin:5px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#0056b3;
}

.question-box{
    margin-top:20px;
}

.option{
    margin:10px 0;
}

#result{
    margin-top:20px;
    font-size:22px;
    font-weight:bold;
    color:green;
}